.footer{
    display: flex;
}

.miniLogos{
    width: 30px;
    height: 30px;
    display: flex;
}

a {
    
    display: flex;
    margin-right: 10px;
}

ul {
    display: flex;
    margin-left: 10px;

}

li {
    margin-left: 25px;
    list-style: none;
}

.liFlex{
    display: flex;
}

.block{
    display: inline-flex;
}