.app{
    width: 1500px;
    height: 1200px;
}

.top{
    display: block;
    border: 5px solid purple;
    
    height: 50px;
    background-color: purple;

    position: sticky;
    top: -35px;
    padding-top: 35px;
    opacity: 0.7;
    backdrop-filter: blur(10px);
}

.left{
    
    border: 1px solid gray;
    width: 500px;
    height: 400px;
}

.center{
    
    border: 1px solid red;
    width: 500px;
    height: 400px;
}

.right{
    
    border: 1px solid blue;
    width: 500px;
    height: 400px;
}

.bottom{
    display: block;
    border: 1px solid green;
    
    height: 200px;
}

.list{
    display: inline;
    padding-left: 10px;
}

.middle{
    margin-top: 0px;
    display: flex;
}

li {
    display: inline-block;
    margin-left: 10px;
    border: 3px solid rgb(255, 255, 255);
    color: white;
   
}

li:hover{
    color: black;
    background-color: black;
}